.title {
    margin-top: 100px;
}
.videoSize {
    width: 585px;
    height: auto;
    margin-left: 16px;
    margin-top: 5px;
}
h2 {
    text-transform: capitalize;
    padding: 0 3%;
    font-family: 'Libre Baskerville', serif;
    color: black;
}
img {
    width: 585px;
    height: auto;
    border: 5px solid black;
    margin: 10px;
}
p {
    font-family: 'Libre Baskerville', serif;
    align-items: center;
    padding: 5px 8px;
}
.text { 
    width: 100%;
    border: 3px solid black;
    margin: 10px;
    padding: 15px;
}
.link, .link:hover{
    color: black;
}
h3 {
    margin: 5px 1%;
    font-size: 25px;
}
.box {
    width: 45%;
    height: auto;
    border: 3px solid black;
    margin: 20px 30px;
    padding: 20px 20px;;
}
h5 {
    font-size: 20px;
    color: black;
    border-bottom: 1px solid black;
    font-weight: bold;
}
h5:hover {
    color: black;
}
h6 {
    font-family: 'Libre Baskerville', serif;
    padding-right: 10px;
}
.details {
    font-weight: bold;
}
@media screen and (max-width: 1024px) {
    img {
        width: 480px;
        height: auto;
        margin: 10px;
    }
    .videoSize {
        width: 480px;
        height: auto;
        margin-left: 16px;
        margin-top: 5px;
    }
}
@media screen and (max-width: 800px) {
    img {
        width: 500px;
        height: auto;
        margin: 10px;
    }
    .videoSize {
        width: 500px;
        height: auto;
        margin-left: 8px;
        margin-top: 0px;
    }
    .wrap {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 600px) {
    img {
        width: 370px;
        height: auto;
    }
    .videoSize {
        width: 370px;
        height: auto;
    }
    .wrap {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 500px) {
    img {
        width: 95%;
        height: auto;
    }
    .videoSize {
        width: 95%;
        height: auto;
    }
    .box-wrap {
        flex-wrap: wrap;
    }
    .box {
        width: 100%;
    }
}