header {
    background-color: black;
    width: 100%;
}
body {
    background-color: rgb(255, 192, 203);
}
#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 192, 203)
}
a {
    color: white;
}
a:hover, h1:hover {
    color: rgb(255, 192, 203);
    transition: all 0.3s 0.3s ease;
    transform: scale(1.2);
}
h1 {
    color: whitesmoke;
    margin-top: 125px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}
.videoSize {
    z-index: -100;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.videoStyle {
    width: 1270px;
    height: 800px;
    object-fit: fill;
}
.horizontalLine{
    padding-left: 3%;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}
.image-wrapper{
    width: 100%;   
}
.row {
    margin-top: 60px;
}
h3{
    font-family: 'Libre Baskerville', serif;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: solid black 1px;
}
h5 {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color: aliceblue;
}
h5:hover {
    color:pink;
}
.rating {
    font-size: 16px;
    background-color: transparent;
}
.header {
    z-index: 20;
}
div.relative {
    position: relative;
    border: solid black 5px;
    object-fit: cover;
}
div.absolute {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-5%, -15%);
}
.card-body{
    padding-right: 10px;
    background-color: rgb(255, 213, 220);
}
.card  {
    font-family: 'Libre Baskerville', serif;
    width: 100%;
}
div.relative:hover {
    z-index: 15;
    transform: scale(1.3);
    transition: all 0.3s 0.3s linear;
}

h5:hover {
    color:pink;
    transition: all 0.3s 0.3s linear;
    transform: scale(1.1);
}
.inline {
    display: inline; 
}
.animation {
    position: absolute;
    left: 90%;
    top: 10%;
    animation: flower 3s infinite alternate;
   
}
.flower {
    width: 60px;
    height: 60px;
    text-align: right;
}
@keyframes flower {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
        left: 85%;
    }
    20% {
        transform: rotate(72deg);
        left: 80%;
    }
    30% {
        transform: rotate(108deg);
        left: 75%;
    }
    40% {
        transform: rotate(144deg);
        left: 70%;
    }
    50% {
        transform: rotate(180deg);
        left: 65%;
    }
    60% {
        transform: rotate(216deg);
        left: 60%;
    }
    70% {
        transform: rotate(252deg);
        left: 55%;
    }
    80% {
        transform: rotate(288deg);
        left: 50%;
    }
    90% {
        transform: rotate(324deg);
        left: 45%;
    }
    100% {
        transform: rotate(360deg);
        left: 40%;
    }
}





